body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
  position: relative;
  margin: 0 10%;
}

ul {
  margin: 0;
}

h2 {
  text-align: center;
  font-family: 'Roboto Slab-bold', serif;
}

h3, h4 {
  text-align: center;
}
h6{
  font-family: 'Raleway', sans-serif;
    text-align: center;
}
footer{
background-color: #9fb8ad;
text-align: center;
font-size: 1rem;
color: #fff;
margin: 1% 10% 0 10%;
}

.h11 {
  font-size: 5rem;
  text-align: center;
    font-family: 'Roboto Slab-bold', serif;
}

.bib{
  width: 5%;
  text-align: left;
  position: fixed;
  top: 100px;
  left: 20px;
}
.img-logo{
  text-align: center;
  position: relative;
  top: 20px;
  background-color: #d8e3e7;

}
.sparkle{
  position:relative;
}
.initial-content{
  margin:0;
}
.footin{
  margin:0;

}
.initial1{
padding: 3%;
background-color: #289672;

}
.initial2{
  padding: 90px;
  background-color: #d8e3e7;
    font-family: 'Raleway', sans-serif;

}
.initial3{
  padding: 10%;

}
.image-start {
  width: 50px;
}

.side-content {
  margin: 0 10% 10px 10%;
  position: relative;
  top: 80px;
}

.amanda-display {
  font-size: 3rem;
  color: #77acf1;
}

.tops {
  background-color: #383e56;
  text-align: center;
  font-family: 'Roboto Slab-bold', serif;
  margin: 0 0 10px 0;
  padding: 0;
  color: #fff;
}

.colored2 {
  background-color: #c5d7bd;
  font-family: 'Roboto Slab', serif;
  padding: 40px 0 30px 0;
  margin: 0;
}

.colored1 {
  background-color: white;
  font-family: 'Roboto Slab', serif;
  padding: 40px 0 30px 0;
  margin: 0;
}

.bar-bar {

  position: fixed;
  z-index: 1;
  right: 0;
  left: 0;
  top: 0;
}

.row {
  padding: 10px;
}

.more {
  padding: 0 0;
}

/* .positioning{
  margin: 0 10%;
} */
@media (max-width: 1000px) {
  .amanda-display {
    font-size: 2rem;
  }

  .image-start {
    position: relative;
    left: 10px;
  }
}
.display-prop{
  padding: 0;
  margin: 10px 0 0 0;
  height: 550px;
}
.example {
  line-height: 0;
}
.more {
  color: #810000;
}
